body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 20px;
	overflow: hidden;
	padding: 0;
	margin: 0;
}

* {
	box-sizing: border-box;
}

.secondary-btn{
	display: inline-block;
    height:35px;
    color: #fff;
    background-color: #555555;
    width: 100%;
    max-width: 100%;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    margin-top: 10px;
}
.primary-btm{
    background-color: #0074ab;
}
.primary-button:hover{
    background-color: #006395;
    cursor: pointer;
}
#wrapper{
	width: 100%;
	height: 100vh;
	display: inline-block;
	overflow: hidden;
}

#wrapper #left{
	width: 35%;
	float: left;
	height: 100vh;
	background-color: #181818;
	position: relative;
}

#wrapper #left #signin{
/* margin-top:300px; */
    height: auto;
    padding: 0px 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#wrapper #left #signin .logo{
	text-align: center;
	margin: 50px 0;
}

#wrapper #left #signin .logo img{
	max-width: 100%;
	width: 280px;
	height: auto;
}

#wrapper #left #signin form label{
	display: block;
	color: #fff;
	width: 100%;
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 7px;
}
/* #main-footer{
    position: absolute;
    bottom:0;
} */
#wrapper #left #signin form input{
	width: 100%;
    height: 35px;
    border: 1px solid rgb(73 72 72);
    background-color: transparent;
    margin-bottom: 15px;
    border-radius: 2px;
    outline: none;
}

#wrapper #left #signin form button{
	width: 100%;
	background-color: #0084bd;
	border: 0;
	color: #fff;
	font-weight: bold;
	text-align: center;
	height: 35px;
	/* margin-top: -10px; */
	display: block;
	cursor: pointer;
}

#wrapper #left #signin #links{
	text-align: center;
	margin-top: 35px;
}

#wrapper #left #signin #links a{
	display: block;
	color: #0084bd;
	margin: 15px 0px;
	text-decoration: none;
}

#wrapper #left #signin .hr-bar hr{
	border-color: #555555;
    margin-top: 25px;
    margin-bottom: 25px;
}

#wrapper #left footer{
	position: absolute;
	/* bottom: 75px; */
	text-align: center;
	padding: 0px 125px;
	width: 100%;
	color: #888;
	font-size: 14px;
}

#wrapper #left footer p{
	color: #888;
	margin-bottom: 10px;
}

#wrapper #left footer a{
	color: #888;
	display: inline-block;
	margin: 0px 5px;
}

#wrapper #right{
	width: 65%;
	float: right;
	height: 100vh;
	background-image: url(https://image.ibb.co/cO9Lxq/login-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	position: relative;
}

#wrapper #right #showcase{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    padding-bottom: 15px;
	width: auto;
	height: auto;
}

#wrapper #right #showcase #showcase-content h1{
	color: #fff;
	font-size: 30px;
	margin: 0;
	font-weight: 400;
	line-height: 16px;
    margin-bottom: 20px;
}